<%- include('./partials/head') %>
<body>

  <!-- Header -->
  <%- include("./partials/header_admin") %>
  

    <!-- Page content -->
      <div class="contenedor_portada">
        <h1 class="title_nav_admin">Administración</h1>
        <figure><img class="portada_admin" src="images/portada_admin.jpg" alt=""></figure>
          <div >
            <nav class="nav_admin_inf">
              <a href="/admin/users">Usuarios</a>
              <a href="/admin/productos">Productos</a>
              <a href="http://localhost:3000/turisteando">Dashboard</a>       
            </nav>
          </div>
        </div>

      <!-- Menu Section -->


    
      <!-- Footer -->
      <%- include('./partials/footer_admin') %>
    </div>
  </body>
</html>
