<div id="button-menu_hamburguer" class="button-menu_hamburgue">
  <img src="/images/bars-solid.svg" alt="hamburguer" >
</div>
<nav id="nav_hamburguer" class="main-nav_hamburguer">
  <div id="button-menu_hamburguer_close" class="button-menu_hamburgue_close">
    <img src="/images/xmark-solid.svg" alt="hamburguer" >
  </div>
    <div class="nav-links_hamburguer">
      <a class="link-item_hamburguer" href="/index">Turisteando</a>
      <a class="link-item_hamburguer" href="/admin/users">Usuarios</a>
      <a class="link-item_hamburguer" href="/admin/productos">Productos</a>
      <a class="link-item_hamburguer" href="http://localhost:3000">Dashboard</a>
    </div>
</nav>
<script src="/js/menu_hamburguer.js"></script>